footer.footer
    .container.footer__container 
        .footer__row 
            .footer__col.col-1 
                ul.footer__list 
                    li.footer__list-item 
                        span.footer__list-span Санкт-Петербург, ул. Профессора попова 23
                    li.footer__list-item 
                        a.footer__list-link.footer__list-link_tel(href="tel:+78123207096") +7 (812) 320-70-96
                        a.footer__list-link.footer__list-link_email(href="info@minikon.ru") info@minikon.ru
            .footer__col.col-2
                ul.footer__list 
                    li.footer__list-item 
                        span.footer__list-span Москва, ул. Лодочная 3
                    li.footer__list-item 
                        a.footer__list-link.footer__list-link_tel(href="tel:+74956457096") +7 (495) 645-70-96
                        a.footer__list-link.footer__list-link_email(href="mail@minikon.ru") mail@minikon.ru
            .footer__col.col-3
                ul.footer__list 
                    li.footer__list-item 
                        span.footer__list-span Екатеринбург, ул. Ткачей 2Б
                    li.footer__list-item 
                        a.footer__list-link.footer__list-link_tel(href="tel:+73433021778") +7 (343) 302-17-78
                        a.footer__list-link.footer__list-link_email(href="info@minikon.ru") info@minikon.ru





