@import ./_vars

.header
	width: 100%
	min-height: 120px
	padding: 22px 0 20px 0
	position: relative
	&_top
		width: 100%
		@include flex-jcsb-aic
		margin: 0 0 23px 0
	&__logo-box
		max-width: 242px
		@include width-height-100-percent
		@include flex-jcc-aic
	&__search
		position: relative
		flex: 1 1 auto
		margin: 0 60px
		height: 35px
		&-input
			border: 1px solid #CECECE
			box-sizing: border-box
			border-radius: 50px
			appearance: none
			width: 100%
			height: 100%
			font-size: 14px
			line-height: 16px
			padding: 9px 65px 10px 15px
			&:placeholder
				color: $color-placeholder
		&-btn
			width: 50px
			height: 100%
			position: absolute
			top: 50%
			left: auto
			right: 0
			transform: translate(0, -50%)
			border-top-right-radius: 50px
			border-bottom-right-radius: 50px
			background-color: transparent
	&__mail-us
		width: 100%
		max-width: 169px
		height: 21px
		@include flex-jcc-aic
		&-link
			@include width-height-100-percent
			@include flex-jcsb-aic
			font-size: 18px
			line-height: 21px
			color: #6C6966

	&__menu
		width: 100%
		height: 60px
		&::before,
		&::after
			content: ''
			width: 100%
			height: 1px
			position: absolute
			top: 83px
			left: 0
			right: 0
			bottom: 0
			background-color: rgba(108, 105, 102, 0.5)
		&::after
			top: 142px
		&-container
			@include width-height-100-percent

		&-body
			@include width-height-100-percent
			@include flex-jcc-aic
	&__list
		@include width-height-100-percent
		@include flex-jcsb-aic
		padding: 10px 0
		&-item
			@include width-height-100-percent
			border-right: 1px solid rgba(108, 105, 102, 0.5)
			&:first-of-type
				border-left: 1px solid rgba(108, 105, 102, 0.5)
			&_drop-down
				position: relative
				.drop-down
					&-block
						position: absolute
						top: 55px
						left: -20px
						right: 0
						bottom: 0
						width: 570px
						min-height: 310px
						@include flex-jcsb-aifs
						padding: 10px 40px 25px 20px
						z-index: 10
						filter: drop-shadow(0px 4px 10px rgba(99, 99, 99, 0.25))
						background-color: $color-White
						border-radius: 10px
						transition: all 0.3s ease 0s
						visibility: hidden
						opacity: 0
						pointer-events: none
						&::before
							content: ''
							width: 100%
							height: 25px
							position: absolute
							top: -20px
							left: 0
					&-link
						display: inline-flex
						font-size: 18px
						line-height: 21px
						color: $color-Black
						padding: 10px 0
						margin-bottom: 5px
						&:hover
							text-decoration: underline
					&__sub-list
						&-item:first-of-type
							a
								margin-top: -5px
						&-link
							display: inline-flex
							font-size: 16px
							line-height: 18px
							color: $color-Gray-1
							padding: 5px 0
							margin-bottom: 5px
							&:hover
								color: $color-Red-primary
				&::after
					position: absolute
					content: ''
					top: 113%
					left: 50%
					transform: translate(-50%, 0)
					width: 0
					height: 0
					z-index: 10
					border-style: solid
					border-width: 0 8px 10px 8px
					border-color: transparent transparent #ffffff transparent
					filter: drop-shadow(0px 4px 10px rgba(99, 99, 99, 0.25))
					visibility: hidden
					opacity: 0
					pointer-events: none
					transition: all 0.3s ease 0s
				&:hover::after
					visibility: visible
					opacity: 1
				&:hover .drop-down-block
					visibility: visible
					opacity: 1
					pointer-events: all

		&-link
			@include width-height-100-percent
			@include flex-jcc-aic
			padding: 12px
			color: $color-Gray--header
			font-weight: bold
			font-size: 18px
			line-height: 21px
			&:hover
				text-decoration: underline
			// &:hover+.drop-down-block
			// 	visibility: visible
			// 	opacity: 1
			// 	pointer-events: all

// burger-menu
.menu
	&__icon
		display: none

// Breadcrumbs

.breadcrumbs
	&__content
		width: 100%
		padding: 20px 0
	&__list
		display: flex
		justify-content: flex-start
	&__item,
	&__link
		color: $color-breadcrumbs
		font-size: 12px
		line-height: 14px
